@import './seccions/header';
@import './seccions/main-index';
@import './seccions/footer';
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body{
    max-width: 100vw;
    max-height: 100vh;
}


.background-video {
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: -1;
}



/* ------------------------------inicio main ---
------------------------------------------------*/
/* -------------------------------INDEX MAIN-----
-------------------------------------------------- */

.nosotros{
    background-color: rgba(0, 0, 0, 0.452);
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1{
    color: blue;
    text-decoration: underline;
    font-weight: bold;
}

h2{
    color: blue;
    text-decoration: underline;
    font-weight: bold;
}

.nosotros p{
    color: yellow;
    font-weight: bold;
}
  
/* -------------------------------FIN INDEX MAIN-----
-------------------------------------------------- */

/* ---------------------TIENDA MAIN------------
-----------------------------------------------*/


.container {
    margin: 0;
    padding: 0;
    border-radius: 10%;
    background-color: rgba(3, 3, 3, 0.863);
    max-width: 100vw; 
    justify-content: space-evenly;
    display: grid;
    grid-template-columns: 24vw 24vw 24vw 24vw;
    grid-template-rows: 1fr 1fr;
    grid-auto-flow: row;
    grid-template-areas:
      "camiseta-verde camiseta-blanca camiseta-azul camiseta-roja"
      "precioV precioB precioA precioR";
  }
  
  .container img{
    width: 24vw;
    border-radius: 10%;
  }
  
  .camiseta-verde { grid-area: camiseta-verde; }
  
  .camiseta-blanca { grid-area: camiseta-blanca; }
  
  .camiseta-azul { grid-area: camiseta-azul; }
  
  .camiseta-roja { grid-area: camiseta-roja; }
  
  .precioV {
     grid-area: precioV; 
    }
  
  .precioB { 
    grid-area: precioB; 
   }
  
  .precioA { 
    grid-area: precioA;
   }
  
  .precioR { 
    grid-area: precioR; 
   }
  
.precioA li{
    list-style: none;
    color: blue;
    font-size: 30px;
}   

.precioB li{
    list-style: none;
    color: blue;
    font-size: 30px;
}

.precioR li{
    list-style: none;
    color: blue;
    font-size: 30px;
}

.precioV li{
    list-style: none;
    color: blue;
    font-size: 30px;
}
/* ---------------------TIENDA MAIN------------
-----------------------------------------------*/


/* ------------------------------fin main -----
-----------------------------------------------*/

/* inicio del footer */
footer{
    display: flex;
    height: 200px;
    background-color: rgba(0, 0, 0, 0.76);
    justify-content: space-evenly;
    align-items: center;
}

.footer__container {
    font-weight: 400;
    color: blue;
    display: flex;
    align-items: baseline;
}
.footer__container li{
    list-style: none;
}

.footer__img{
    width: 60px;
    border-radius: 50%;
}

.footer__span a{
    text-decoration: none;
    color: rgb(111, 0, 255);
}

.footer__span a:hover {
    color: green;
}

.footer__info {
    list-style: none;
}

.footer__info li a {
   text-decoration: none;
   color: blue;
   font-weight: 400; 
}

.footer__info li a:hover {  
    color: green;
}

.info__a {
    text-decoration: none;
    color: blue;
    font-weight: bold;
    text-transform: uppercase;
    line-height: 50px;
}

.footer__equipos {
    list-style: none;
    margin-right: 40px;
}

.footer__equipos li a {
    text-decoration: none;
    color: blue;
    font-weight: 400;
}

.footer__equipos li a:hover {
    color: green;
}

.equipos__a {
    text-decoration: none;
    color: blue;
    font-weight: bold;
    text-transform: uppercase;
    line-height: 50px;
}

.footer__redes {
    list-style: none;
}

.footer__redes li a {
    text-decoration: none;
    color: blue;
    font-weight: 400;
}

.footer__redes li a:hover{
    color: green;
}

.redes__a {
    text-decoration: none;
    color: blue;
    font-weight: bold;
    text-transform: uppercase;
    line-height: 50px;
}
/* fin del footer */

.marcas-caja {
    height: 15vh;
    background-color: rgba(21, 184, 0, 0.562);
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.marcas-caja__logitech {
    width: 30vh;
    opacity: 0.8;  
}

.marcas-caja__redragon{
    width: 23vh;
    opacity: 0.8;
}

.marcas-caja__hyperx{
    width: 30vh;
    opacity: 0.8;
}

.marcas-caja__spotify{
    width: 30vh;
    opacity: 0.8;
}

.proximamente {
    margin-left: 450px;
}

@media (max-width: 768px){
    .sosba-logo img{
        width: 5.5vw;
    }
    footer{
        flex-direction: column;
        height: 800px;
    }
    .footer__container{
        display: flex;
        flex-direction: column;
        width: 100vw;
        align-items: center;
    }
    .footer__container ul{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .footer__container li{
        list-style: none;
    }
    .footer__info{
        margin: 0;
        padding: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100vw;
    }
    .footer__equipos{
        margin: 0;
        padding: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100vw;
    }
    .footer__redes{
        margin: 0;
        padding: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100vw;
    }
    .precioA li{
        font-size: 15px;
    }   
    
    .precioB li{
        font-size: 15px;
    }
    
    .precioR li{
        font-size: 15px;
    }
    
    .precioV li{
        font-size: 15px;
    }
          
}

@media (max-width: 425px){
    .sosba-logo img{
        width: 10vw;
    }
    .container {  
        display: grid;
        justify-items: center;
        align-items: center;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
        gap: 0px 0px;
        grid-auto-flow: row;
        grid-template-areas:
          "camiseta-verde"
          "precioV"
          "camiseta-azul"
          "precioA"
          "camiseta-blanca"
          "precioB"
          "camiseta-roja"
          "precioR";
      }
      
      .camiseta-verde { grid-area: camiseta-verde; }
      
      .precioV { grid-area: precioV; }
      
      .camiseta-azul { grid-area: camiseta-azul; }
      
      .precioA { grid-area: precioA; }
      
      .camiseta-blanca { grid-area: camiseta-blanca; }
      
      .precioB { grid-area: precioB; }
      
      .camiseta-roja { grid-area: camiseta-roja; }
      
      .precioR { grid-area: precioR; }
    
    .container img{
        width: 50vw;
    }
    .precioA li{
        padding-top: 15px;
        font-size: 20px;
    }   
    
    .precioB li{
        padding-top: 15px;
        font-size: 20px;
    }
    
    .precioR li{
        padding-top: 15px;
        font-size: 20px;
    }
    
    .precioV li{
        padding-top: 15px;
        font-size: 20px;
    }

    .marcas-caja__logitech {
        width: 12vh;
        opacity: 0.8;  
    }
    
    .marcas-caja__redragon{
        width: 10vh;
        opacity: 0.8;
    }
    
    .marcas-caja__hyperx{
        width: 12vh;
        opacity: 0.8;
    }
    
    .marcas-caja__spotify{
        width: 12vh;
        opacity: 0.8;
    }  
}