/*----------------RECURSOS--------------------------------------- */
@import './recursos/reseteo';
@import './recursos/colores';
@import './recursos/tipografia';
@import './recursos/fondo';

/* ---------------------------SECCIONES----------------------------*/
@import './seccions/main-index';
@import './seccions/equipos';
@import './seccions/informacion';
@import './seccions/login';
@import './seccions/tienda';

/*------------UTILIDADES-------------------------------------------*/
@import './utilidades/header';
@import './utilidades/footer';
@import './utilidades/marcas';