/* ------------------------------inicio main ---
------------------------------------------------*/
/* -------------------------------INDEX MAIN-----
-------------------------------------------------- */

.nosotros{
    background-color: rgba(0, 0, 0, 0.452);
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1{
    color: $azul;
    text-decoration: underline;
    font-weight: bold;
}

h2{
    color: $azul;
    text-decoration: underline;
    font-weight: bold;
}

.nosotros p{
    color: $amarillo;
    font-weight: bold;
    text-align: center;
}
  
/* -------------------------------FIN INDEX MAIN-----
-------------------------------------------------- */
/* ------------------------------fin main -----
-----------------------------------------------*/