.tiendaT{
    margin-top: 2rem;
    margin-bottom: 2rem;
    font-family: 'Anton', sans-serif;
    text-align: center;
    text-decoration: none;
    color: $amarillo;
    letter-spacing: 3px;
    font-weight: inherit;
}
.card-title h5{
    font-family: 'Anton', sans-serif;
    font-weight: inherit;
    font-size: 1.7rem;
    letter-spacing: 2px;
    color: white;
    text-align: center;
}