/* inicio del footer */
footer{
    display: flex;
    height: 300px;
    background-color: rgba(0, 0, 0, 0.76);
    justify-content: space-evenly;
    align-items: center;
}

.footer__container {
    font-weight: 400;
    color: $azul;
    display: flex;
    align-items: flex-start;
}
.footer__container li{
    list-style: none;
}

.footer__img{
    width: 60px;
    border-radius: 50%;
}

.footer__span a{
    text-decoration: none;
    color: rgb(111, 0, 255);
}

.footer__span a:hover {
    color: $verde-oscuro;
}

.footer__info {
    list-style: none;
}

.footer__info li a {
   text-decoration: none;
   color: $azul;
   font-weight: 400; 
}

.footer__info li a:hover {  
    color: $verde-oscuro;
}

.info__a {
    text-decoration: none;
    color: $azul;
    font-weight: bold;
    text-transform: uppercase;
    line-height: 50px;
}

.footer__equipos {
    list-style: none;
    margin-bottom: 0;
    padding-top: 20px;
}

.footer__equipos li a {
    text-decoration: none;
    color: $azul;
    font-weight: 400;
}

.footer__equipos li a:hover {
    color: $verde-oscuro;
}

.equipos__a {
    text-decoration: none;
    color: $azul;
    font-weight: bold;
    text-transform: uppercase;
    line-height: 50px;
}

.footer__redes {
    list-style: none;
}

.footer__redes li a {
    text-decoration: none;
    color: $azul;
    font-weight: 400;
}

.footer__redes li a:hover{
    color: $verde-oscuro;
}

.redes__a {
    text-decoration: none;
    color: $azul;
    font-weight: bold;
    text-transform: uppercase;
    line-height: 50px;
}

@media (max-width: 768px){
    .sosba-logo img{
        width: 5.5vw;
    }
    footer{
        flex-direction: column;
        height: 900px;
    }
    .footer__container{
        display: flex;
        flex-direction: column;
        width: 100vw;
        align-items: center;
        text-align: center;
    }
    .footer__container ul{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .footer__container li{
        list-style: none;
    }
    .footer__info{
        margin: 0;
        padding: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100vw;
    }
    .footer__equipos{
        margin: 0;
        padding: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100vw;
    }
    .footer__redes{
        margin: 0;
        padding: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100vw;
    }
}
/* fin del footer */